.buttons{
    margin: 0px 0px 50px 0px;
    display: flex;
    justify-content: center;
}

.button_{
    border-radius: 20px;
    border: 10px solid transparent;
    font-size: 15px;
    color: #683232;
    font-weight: 500;
    background: #c2c2c2;
    cursor: pointer;  
    margin-left: -600px;
    margin-top: 0px;
}
.buttons button:hover{
    outline: 3px solid #ffffff;
}