.header{
    font-weight: 800;
    font-size: 25px;
    color: #000000;
}
.header_container{
    display: flex;
    width: 35%;
    margin: 10px 0px 9px 0px;
}
.header a {
    color: #ffffff;
}
.input_box{
    width: 80%;
    display: flex;
    margin: 0px 0px 10px 0px;
  }
  .input_box input{
    outline: none;
    border: 1px solid white;
    margin: 0px 10px 0px 0px;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 10px;
  }
  .input_box button{
    background: rgb(73, 72, 72);
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    color: rgb(251, 251, 251);
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
  }
  .input_box button:hover{
  background: #7f7f81;
  border: 1px solid rgb(255, 255, 255);
  }
  .active:hover{
    background: rgb(83, 121, 140);
    cursor: pointer;
  }
