.flags{
  margin-top: -40px ;
  width:300px;
}
.country_information_box{
  display: flex;
  flex-direction: row-reverse;
  color: rgb(221, 221, 221);
  font-size: 25px;
}
a{
  color: rgb(204, 202, 202); 
}

span {
   font-size: 20px;  
   color: rgb(134, 134, 134);
}
.flags_block{
  margin-left: 50px;
}
.name_country{
  font-size: 50px;
}
